
.snap-content {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background: #fff;
    -moz-box-shadow: 0px 0px 3px rgba(112, 112, 112, 1);;
    -webkit-box-shadow: 0px 0px 3px rgba(112, 112, 112, 1);;
    box-shadow: 0px 0px 3px rgba(112, 112, 112, 1);
}


.snap-drawers {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    z-index: 0;
}

.snap-drawer {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: auto;
    width: 11em;
    height: auto;
    -webkit-overflow-scrolling: touch;
    -webkit-transition: width 0.3s ease;
    -moz-transition: width 0.3s ease;
    -ms-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
}

.snap-drawer-left {
    left: 0;
    z-index: 0;
}

.snap-drawer-right {
    right: 0;
    z-index: 0;
}

.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
    display: none;
}

.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
    width: 100%;
}

.snap-drawer {
    background-color: rgba(4,111,84,0.3);
    color: #046F54;
}

.snap-drawer h4 {
    padding: 15px;
    margin-bottom: 0;
    margin-top: 0px;
    max-height: 50px;
}

.snap-drawer ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.snap-drawer li > a {
    display: block;
    border-bottom: 1px solid rgba(4,111,84,0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-weight: normal;
    text-decoration: none;
    color: #357ebd;
    padding: 0.8em;
    font-size: 1.1em;
}

.snap-drawer li span:first-child{
    color: rgb(12, 97, 131);
}

.snap-drawer li span + span {
    margin-left: .5em;
}


.snap-drawer li > a.hover {
    background-color: rgba(4,111,84,0.2);
}

.snap-drawer p {
    opacity: 0.5;
    padding: 15px;
    font-size: 12px;
}
