.counter-wrapper {
    /* float: right; */
    /* position: relative; */
    /* left: -50%; */
    /* margin-top: 20px; */
    text-align: center;
    margin: 3em 0;
}
.flip-counter {
    /* position: relative; */
    /* left: 50%; */
    list-style-type: none;
    padding: 0;
    display: inline-block;
    margin: 0;
}
.flip-counter li {
    float: right;
}
.no-csstransforms3d span.back {
    display: none;
}
.flip-counter.iot .digit {
    position: relative;
    z-index: 0;
    width: 30px;
    height: 40px;
    margin-left: 5px;
    background-color: #0a6aa1;
    text-align: center;
    line-height: 0;
    -webkit-text-stroke: 2px;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.flip-counter.iot .digit:last-child {
    margin-left: 0;
}
.flip-counter.iot .digit span {
    position: absolute;
    left: 0;
    height: 20px;
    width: 30px;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 34px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 650;
    text-indent: 2px;
    background-color: #2A6496;
    color: #f5f5f5;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.flip-counter.iot .digit span.front {
    top: 0;
    padding-top: 20px;
}
.flip-counter.iot .digit span.back {
    bottom: 0;
}
.flip-counter.iot .digit .line {
    position: absolute;
    z-index: 10;
    height: 20px;
    width: 30px;
    -webkit-box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 5px 7px -4px rgba(0, 0, 0, 0.7);
}
.flip-counter.iot .digit .hinge-wrap {
    z-index: 5;
    position: relative;
    overflow: visible;
    -webkit-perspective: 300px;
    -moz-perspective: 300px;
    -ms-perspective: 300px;
    perspective: 300px;
}
.flip-counter.iot .digit .hinge {
    position: absolute;
    height: 20px;
    width: 30px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 0.3s ease-in;
    -moz-transition: -moz-transform 0.3s ease-in;
    transition: transform 0.3s ease-in;
    -webkit-transform-origin: 50% 100%;
    -moz-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    -o-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
.flip-counter.iot .digit .hinge span {
    height: 0px;
    z-index: 5;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
}
.flip-counter.iot .digit .hinge span.front {
    padding-top: 20px;
}
.flip-counter.iot .digit .hinge span.back {
    height: 20px;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
.flip-counter.iot .digit.animate .hinge {
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    -ms-transform: rotateX(-180deg);
    -o-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}
.flip-counter.iot .digit-delimiter {
    padding-top: 15px;
    margin-right: -2.5px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 650;
    font-size: 25px;
    color: #000000;
    text-indent: 1.6666666666666667px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
