
.uil-reload-css {
  position: relative;
  width: 0;
  height: 0;
  -ms-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -o-transform: scale(0.6);
  transform: scale(0.6);
  left: 30%;
  margin: 2em 0;

}

.uil-reload-css > div {
  display: block;
  position: absolute;
  width: 160px;
  height: 160px;
  border-radius: 100px;
  border: 20px solid #23ae89;
  border-top: 20px solid rgba(0,0,0,0);
}

.uil-reload-css > div:after {
  content: " ";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 30px 30px;
  border-color: transparent transparent #23ae89 transparent;
  display: block;
  -ms-transform: translate(-15px, 0) rotate(45deg);
  -moz-transform: translate(-15px, 0) rotate(45deg);
  -webkit-transform: translate(-15px, 0) rotate(45deg);
  -o-transform: translate(-15px, 0) rotate(45deg);
  transform: translate(-15px, 0) rotate(45deg);
}