header .header-menus {
    position: absolute;
    top: 0;
    right: .5em;
    width: 37%;
    z-index: 99;
}

header .wrap section.account {
    display: none;
}

.iot-content .header .title{
    width: 40em;
    margin: 0 auto;
}
.iot-content .title h2 {
    display: block;
    font-size: 2.5em;
    font-family: 'IntelClear-Light', Helvetica, sans-serif;
    padding: 0.357em 0.2em; /* 15px / 42px */
    text-align: center;
    background: url('../../img/common/notch.png') no-repeat right top #00aeef;
    color: #FFF;
}
.navbar-menu {
    float: left;
    margin-top: 8px;
    display: inline-block;
    cursor: pointer;
}

.menu {
    width: 70px;
    height: 70px;
    float: left;
    margin-left: -15px;
    display: inline-block;
    padding-top: 0;
    top:-20px;
    border:0;
    /*position: fixed;*/
}
.menu button{border:0;}
.menu .snap {
    width: 40px;
    height: 40px;
    display: inline-block;;
    background: url('../../img/common/sprites.png') no-repeat -77px -138px;
    z-index: 99;
    cursor:pointer;
}

.menu-snap {
    background: #f8f8f8 none;
    color: #black;
}


.scrollable{
    overflow: auto;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: .2s, .2s;
    transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
}



a.menu {
    padding: .75em;
    max-width: 33%;
    /* height: 50px; */
    width: auto;
    float: left;
    display: inline-block;
}
.menu-nav {
    /* width: 80px; */
    /* height: 80px; */
    /* float: left; */
    /* margin-left: -15px; */
    /*display: inline-block;*/
    padding: 1em;
}

.menu-nav-in{
    float: left;
    padding: .7em;
    box-sizing:border-box;
}

.menu-nav-in h1,
.menu-nav-in a{
    float: none;
    vertical-align: middle;
    text-decoration: none;
}

/*.menu-nav-in h1.small{
    font-size: 1.5em;
}*/

.navbar-header{
    display: flex;
}

.navbar-header .navbar-menu,
.navbar-header .navbar-toggle{
    flex:none;
    height: 34px;
}
.navbar-header .menu-nav-in{
    flex:auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.navbar-toggle{
    margin-right: 0;
}


.logo {
    display: inline-block;
    width: 44px;
    height: 30px;
    background-image: url('../../img/common/intel-logo-320-dpi-hires.png');
    margin: 9px;
    vertical-align: middle;
    text-indent: -9999em;
    background-repeat: no-repeat;
    background-size: 43px 30px;
}

.navbar-shadow .logo{
    margin-top:0;
}

.thinkBig{
    background-image: url('../../img/iot/cloudanalytics.png?v=3');
    background-repeat: no-repeat;
    background-size: 375px 375px;
    display: block;
    padding-left: 400px;
    padding-top:100px;
    font-size:2em;
    height: 375px;
    text-align: center;
}
.cwhite{color:#fff;}
.title{
    margin: 0 .5em 0 .5em;
    font-size: 1.4em;
    color: #428bca;
    font-family: IntelClear-Light, arial, sans-serif;
}
.title.link {
    font-size:1.1em;
    font-family: IntelClear-Regular, arial, sans-serif;
    margin:0;
    padding:0 5px;
    border-left: 1px solid #428bca;
}

.footer a {padding:0 5px;
    border-left: 1px solid #428bca;}

.menu .board {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url('../../img/menu/dashboard.png');
    background-size:40px 40px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


.menu .devices {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url('../../img/menu/devices.png');
    background-size:40px 40px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.menu .rules {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url('../../img/menu/rules.png');
    background-size:40px 40px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.menu .domain {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url('../../img/menu/domain.png');
    background-size: 40px 40px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: containver;
    background-position-y: 3px;
    background-repeat: no-repeat;
}
.menu .index {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url('../../img/menu/index.png');
    background-size: 40px 40px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: containver;
    background-position-y: 3px;
    background-repeat: no-repeat;
}

.menu .alerts {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url('../../img/menu/bell.png');
    background-size: 40px 40px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: containver;
    background-repeat: no-repeat;
}
.menu .charts {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url('../../img/menu/charts.png');
    background-size: 40px 40px;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: containver;
    background-repeat: no-repeat;
}
/*
.add_button {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 18px;
    background-image: url('../../img/form/add.png');
    background-size:40px 40px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

*/


.add_button{
    display: block;
    width: 100%;
    margin: 1em 0;
    padding: .5em;
}

@media only screen and (min-width: 480px){

    .add_button{
        display: block;
        width: auto;

        margin: auto;
    }

}


.remove_button {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 18px;
    background-image: url('../../img/form/remove.png');
    background-size:40px 40px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

.detail_info {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('../../img/common/expand.png');
    background-position: 1px 1px;
    background-size:40px 40px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.basic_info {
    display: inline-block;
    width: 40px;
    height: 37px;
    background-image: url('../../img/common/expand.png');
    background-position: 2px -34px;
    background-size: 37px 37px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-color: rgba(0, 122, 255, 0.65);
}